.BasicInput{
    display: flex;
    flex-direction: column;

    label{
        font-size: 12px;
        margin-top: 15px;
        color: var(--form-text-color);
        cursor: default;
    }

    input{
        outline: none;
        border: 1px solid var(--form-input-color);
        border-radius: 6px;
        width: 400px;
        height: 35px;
        margin-top: 2px;
        padding: 0px 5px;
        font-size: 15px;
    }
}