.headerContainer{
    background-color: var(--main-color);
    position: sticky;
    top: 0;
    z-index: 1;
}

.header{
    display: flex;
    flex-direction: column;
    max-width: 1440px;
    height: 80px;
    margin: auto;
}

.upperHeader{
    display: flex;
    align-items: start;
    justify-content: end;
    width: 100%;
    height: 26px;
}

.span{
    display: flex;
    font-size: 12px;
    background-color: var(--header-accent-color);
    margin: 6px 12px 0px 0px;
    padding: 2px 4px;
    border-radius: 5px;
    cursor: pointer;
}

.headerMain{
    padding: 0px 6px;
    display: flex;
    align-items: start;
    justify-content: center;
    width:  100%;
    height: 54px;

    .logoNameContainer{
        display: flex;
        height: 100%;



        .imgLogo{
            display: flex;
            align-items: center;
            justify-content: center;
            min-width: 28px;
            width: 28px;
            height: 28px;
            margin-top: 14px;
        }
    
        .h1{
            font-weight: bold;
            color: var(--accent-color);
            font-size: 38px;
            margin: 0px 5px;
            cursor: pointer;
        }
    }


    .headerInputContainer{
        position: relative;
        margin: 0px 10px;
        width: 900px;
        min-width: 500px;
        

        .headerInput{
            width: 100%;
            height: 40px;
            background: var(--header-accent-color);
            border-radius: 5px;
            margin-top: 10px;
            padding: 10px 40px;
        }

        .imgSearch{
            display: flex;
            align-items: center;
            justify-content: center;
            height: 26px;
            width: 26px;
            position: absolute;
            left: 5px;
            top: 16px;
        }

       .button{
            width: 60px;
            height: 30px;
            position: absolute;
            right: 10px;
            top: 15px;
            background-color: var(--accent-color);
            color: var(--main-color);
            border-radius: 5px;
            /* background: url(../../../public/icons/catalog.svg) 0 0 no-repeat; */
        }
    }

    .headerButtonsContainer{
        display: flex;
        height: 100%;

        .headerButton{
            margin-top: 10px;
            border-radius: 5px;
            min-width: 40px;
            width: 40px;
            height: 40px;
            background-color: var(--header-accent-color);
            position: relative;
            margin-right: 5px;
            margin-left: 5px;
    
            .img{
                display: flex;
                align-items: center;
                justify-content: center;
                width: 30px;
                height: 30px;
                position: absolute;
                left: 5px;
                bottom: 5px;
            }
        }
    }

}