.main{
    display: flex;
    flex-direction: column;
    width: 500px;
    margin: auto;
    margin-top: 100px;
    align-items: center;

    h1{
        color: #333333;
    }

    .checkboxContainer{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 400px;
    }

    h5{
        margin-bottom: 20px;
        color: #333333;
        width: 350px;
        text-align: center;

        span{
            text-decoration: underline;
            font-size: inherit;
            color: #333333;
        }

        span:hover{
            cursor: pointer;
        }

        .span{
            text-decoration: underline;
            font-size: inherit;
            font-weight: bold;
        }
    }

    .h5{
        margin-top: 20px;
    }

    .button{
        background-color: #005675;
        opacity: 0.5;
        color: white;
        border-radius: 5px;
        height: 40px;
        padding: 0px 10px;
        /* cursor: not-allowed; */
    }
}