.SellerProductsContainer{
    display: flex;
    align-items:  center;
    background-color: var(--main-color);
    max-width: 950px;
    margin: auto;
    margin-top: 50px;
    border-radius: 25px 25px 0px 0px;
    height: calc(100vh - 130px);
    overflow: auto;
}

.leftSection{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    height: 100%;
    background-color: var(--main-color);
}

.profileImage{
    width: 100px;
    height: 100px;
    min-height: 100px;
    background-color: var(--background-color);
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;

    .img{
      width:  70px;
      height: 70px;
    }
  }

  /* .rating{
    
  } */

.contacts{
  margin-top: 30px;
} 

.email{
  margin-top: 7px;
}




.rightSection{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
  height: 100%;
  background-color: var(--main-color);
}

.inputContainer{
  position: relative;
  margin-top: 50px;
}

.sellerInput{
  width: 640px;
  height: 40px;
  background: var(--header-accent-color);
  border-radius: 5px;
  margin-top: 10px;
  padding: 10px 40px;
  position: relative;
}

.searchImg{
  height: 26px;
  position: absolute;
  left: 5px;
  top: 16px;
}

.sellerCatalog{
  background-color: var(--background-color);
  width: 640px;
  height: calc(100vh - 260px);
  border-radius: 25px;
  margin: 20px 0px;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  overflow: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.sellerCatalog::-webkit-scrollbar{
  display: none;
}