.SellerProductsContainer{
    display: flex;
    align-items:  center;
    background-color: var(--main-color);
    max-width: 950px;
    margin: auto;
    margin-top: 50px;
    border-radius: 25px 25px 0px 0px;
    height: calc(100vh - 130px);
    overflow: auto;
}

.leftSection{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    height: 100%;
    background-color: var(--main-color);
}

.profileImage{
    width: 100px;
    height: 100px;
    min-height: 100px;
    background-color: var(--background-color);
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;

    .img{
      width:  70px;
      height: 70px;
    }
  }

  /* .rating{
    
  } */

.contacts{
  margin-top: 30px;
} 

.email{
  margin-top: 7px;
}




.rightSection{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
  height: 100%;
  background-color: var(--main-color);
}

.inputContainer{
  position: relative;
  margin-top: 50px;
}

.sellerInput{
  width: 640px;
  height: 40px;
  background: var(--header-accent-color);
  border-radius: 5px;
  margin-top: 10px;
  padding: 10px 40px;
  position: relative;
}

.searchImg{
  height: 26px;
  position: absolute;
  left: 5px;
  top: 16px;
}

.sellerCatalog{
  background-color: var(--background-color);
  width: 640px;
  height: calc(100vh - 260px);
  border-radius: 25px;
  margin: 20px 0px;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  overflow: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.sellerCatalog::-webkit-scrollbar{
  display: none;
}


.addContainer{
  width: 200px;
  height: 300px;
  padding: 5px 5px 0px 5px;
  background-color: var(--main-color);
  -webkit-box-shadow: 3px 1px 9px 3px rgba(34, 60, 80, 0.1);
  -moz-box-shadow: 3px 1px 9px 3px rgba(34, 60, 80, 0.1);
  box-shadow: 3px 1px 9px 3px rgba(34, 60, 80, 0.1);
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.vector{
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  background-color: var(--main-color);
}


.addMenu{
  display: flex;
  align-items:  center;
  background-color: var(--main-color);
  width: 950px;
  margin: auto;
  margin-top: 50px;
  border-radius: 25px 25px 0px 0px;
  height: calc(100vh - 130px);
  overflow: auto;
  position: absolute;
  justify-content: center;
  flex-direction: column;
  margin-top: 80px;
}

.main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.button1{
  background-color: var(--accent-color);
  opacity: 0.5;
  color: var(--main-color);
  border-radius: 5px;
  height: 30px;
  width: 120px;
  padding: 0px 10px;
  font-size: 12px;
  margin: 30px 0px;
}

.multiContainer{
  width: 400px;
}